<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DecisionFlow</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <aside>
        <h1>DecisionFlow</h1>
        <hr>
        <button>Chatbot</button>
    </aside>

    <main>
        <header>
            <div class="user">
                <img src="https://lh3.googleusercontent.com/a/ACg8ocK0_IEiBum5fdzAh439e_1u_1-aRonEW_MwD5ay17MbeZ9rlw=s64" alt="">
            </div>
        </header>

        <section class="messages" id="messages">
            <div class="message to">
                <!-- This is where user messages will appear -->
            </div>
            <div class="message from">
                <div class="profile">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocK0_IEiBum5fdzAh439e_1u_1-aRonEW_MwD5ay17MbeZ9rlw=s64" alt="">
                </div>
                <div class="content">
                    <ul>
                        <ul><button class="option-button">Recommend degrees or skills for a job position</button></ul>
                        <ul><button class="option-button">Jobs I can apply for with my qualifications</button></ul>
                        <ul><button class="option-button">Find a job quickly after graduation</button></ul>
                        <ul><button class="option-button">Does my school affect my employment rate?</button></ul>
                        <ul><button class="option-button">Industries in high demand</button></ul>
                    </ul>
                </div>
            </div>
        </section>

        <footer>
            <input type="text" id="inputMessage" placeholder="Type your message...">
            <button id="sendMessageButton">&#9992;</button>
        </footer>
    </main>

    <script src="/static/js/app.js"></script> <!-- Link to JavaScript file -->
</body>

</html>
